.center {text-align: center;}
body {margin: 0px; padding: 0px;}
.common_border {border: 1px solid #f1f1f1;}
.main-container{
  padding: 32px!important;
  .title-con {
    border-bottom: 1px solid #eaecef;
    h1 {font-size: 2em; font-weight: 600; display: inline-block; width: 50%;}
    a {display: inline-block; float: right; line-height: 88px;}
  }
}

ul {margin-bottom: 40px;}
ul li {list-style: none;}
a {
  display: block;
  color: rgb(54, 65, 73);
  text-decoration: none;
  padding: 10px 15px;
  &:hover {color: #000;}
}
canvas {display: block; margin: 0px auto;}
