.center {text-align: center;}

body {margin: 0px; padding: 0px;}
.common_border {border: 1px solid #f1f1f1;}
.main-container{padding: 32px!important;}

.fixed-footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    height: 40px;
    background: #fff;
    width: 100%;
    background: #eee;
}
.fixed-footer .ba-content {
    margin: 0px auto;
    height: 40px;
    display: inline-block;
}
.fixed-footer span {
    font-size: 12px;
    display: inline-block;
    padding: 10px 5px;
    float: left;
}
.fixed-footer a {
    float: left;
    font-size: 12px;
    display: inline-block;
    color: rgb(54, 65, 73);
    text-decoration: none;
    padding: 10px 15px;
    cursor: pointer;
    color:#939393;
    height: 20px;
    line-height: 20px;
}
.fixed-footer a img {
    float: left;
    margin: 0px 0px 0px 5px;
}
.fixed-footer a p {
    float: left;
    margin: 0px 0px 0px 5px;
}
h1 {padding-bottom: .3em; border-bottom: 1px solid #eaecef; font-size: 2em; margin-bottom: 16px; font-weight: 600; line-height: 1.25;}
ul {margin-bottom: 40px;}
ul li {list-style: none;}
a {display: block; color: rgb(54, 65, 73); text-decoration: none; padding: 10px 15px;}
a:hover {color: #000;}
canvas {display: block; margin: 0px auto;}

