body {margin: 0; padding: 0; overflow: auto;background: #061928;}
canvas {
    display: block;
    margin: 0 auto;
    padding: 0;
    min-width: 1200px;
    min-height: 800px;
}
.info-txt{
    position: absolute;
    left: 10px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
    color: #fff;
    height: 48px;
    line-height: 48px;
    top: 0px;
}
.range {
    position: absolute;
    display: block;
    left: 10px;
    width: 280px;
    border-color: #fff;
    top: 70px;
}
